.body {
    background-image: url('../img/bg.jpg');
    width: 1000px;
    height: 1310px;
    margin-left: auto;
    margin-right: auto;
}

                                                    /* HEADER */

.header {
    width: 900px;
}

.phone {
    display: block;
    /* position: absolute; */
    /* height: 16px;
    width: 400px; */
    margin: 0;
    padding: 0;
    /* margin-left: 45px; */
}

.phone ul {
    padding: 0;
    margin: 0;
}

.phone ul > li {
    float: left;
    list-style: none;
    padding: 5px;
    margin: 16px 0;
    height: 26px;
}

.phone ul > li > p {
    margin: 0;
}

.form {
    float: left;
    background-color: #1b5b7c;
    width: 495px;
    height: 26px;
    border-radius: 5px;
    margin-top: 16px;
}

.man {
    float: left;
    padding: 3px;
}

[type="text"], [type="password"] {
    width: 114px;
    max-height: 16px;
    margin: 4px 1px;
    padding: 0;
    border: none;
}

[type="text"]::-webkit-input-placeholder, 
[type="password"]::-webkit-input-placeholder {
    color: #5e696d;
    font-size: 11px;
    padding: 4px;
}

[type="submit"] {
    background-color: #1b5b7c;
    color: white;
    border: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
}

.entrance {
    border-right: 1px solid white;
    padding: 4px;
}

a:hover {
    color: #bfbfbf;
}

.forgot {
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    padding: 5px 20px 5px 10px;
}

.map {
    float: left;
    border: 1px solid #bfbfbf;
    border-radius: 15px;
    padding: 3px;
    margin: 16px 15px 5px;
}

.map a {
    padding: 5px;
}

.image {
    clear: both;
    padding: 0;
    margin: 0;
    width: 910px;
    height: 235px;
}

                                            /* MENU */
.menu {
    display: block;
    height: 40px;
    width: 910px;
    background-color: #191b1e;
    border-radius: 10px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    float: left;
    padding: 6px 15px;
    margin: 4px;
    list-style: none;
    border-radius: 15px;

}

.menu ul .m:hover {
    background-color: #1d6081;
}

.menu ul li a {
    color: #bfbfbf;
    text-decoration: none;
}

.purse {
    padding: 6px 0;
}

.index {
    padding: 2px;
    margin: 8px 1px;
    color: #bfbfbf;
    font-family: sans-serif; 
    font-size: 14px;
}

.amount {
    padding: 0;
    margin: 9px 15px 12px 0;
    color: #1d6081;
    font-size: 16px; 
}

.money {
    margin: 5px 10px;
    color: #1d6081;
    font-size: 16px; 
}

                                                /* SEARCH CAR*/

.searchCar {
    width: 380px;
    position: relative;
}

.searchCar h5 {
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
   /*  font-size: 12px;     */
}

.searchCar ul li {
    margin: 0;
    padding: 0;
    float: none;
    clear: both;
    font-size: 8px;
    font-family: sans-serif;
}

.searchCar ul>li>select {
    /* font-size: 8px;
    height: 10px; */
    display: inline-block;
    vertical-align: middle;
}

.carDisk, .carTire {
    width: 180px;
    float: left;
    margin: 3px;
}

.carDisk h6 {
    margin: 0;
    padding: 0;
    float: left;
   /*  font-size: 10px; */
}

.carDisk ul li, .carTire ul li, .disk ul li {
    margin: 5px;
    padding: 0;
    float: left;
}

.carDisk ul li label, .carTire ul li label, .disk ul li label {
    padding: 0;
    margin-left: 5px;
    display: inline-block;
    position: absolute;
}

.carDisk ul li label p {
    padding: 0;
    margin: 0;
} 

.carDisk ul li select, .carTire ul li select, .disk select {
    margin-left: 80px;
}

.carTire h6 {
    margin: 0;
    padding: 0;
    float: right; 
    /* font-size: 10px; */
}

/* .carTire ul li {
    margin: 0;
    padding: 0;
    float: left;
} */

.carTire ul li p {
    margin: 0;
    padding: 0;
}
/* 
.carTire ul li label {
    padding: 0;
    margin-left: 50px;
    display: inline-block;
    position: absolute;
}

.carTire ul li select {
    margin-left: 100px;
} */

                                                    /* SEARCH TIRES */

.searchTire {
    position: relative;
    width: 190px;
    padding: 5px 10px;
    margin: 10px 5px;
}

.searchTire h5 {
    padding: 0;
    margin: 0;
    text-align: left;
    /* font-size: 12px; */
}

.searchTire ul>li {
    padding: 0;
    margin: 0;
    float: none;
}

.searchTire ul>li>p {
    padding: 0;
    margin: 0;
    padding-left: 49px;
}

/* .searchTire ul>li>select {
     font-size: 8px;
    height: 10px;
} */ 

                                                    /* SEARCH DISK */

.searchDisk.border {
    width: 200px;
    float: right;
    position: relative;
}

.searchDisk h5, h6 {
    margin: 0;
    padding: 0;
}

.searchDisk p {
    padding: 0;
    margin: 0;
    font-size: 8px;
}

.searchDisk p>select {
    font-size: 8px;
    height: 10px;
}

.disk {
    width: 130px;
    float: left;
}

.dco {
    padding: 5px;
    width: 50px;
    float: left;
    border-left: 1px solid #77858b;
}

                                                            /* COMMON */

.border {
    border: 1px solid #77858b;
    border-radius: 20px;
    float: left;
    padding: 5px 10px;
    margin: 10px 10px;
    height: 135px;
} 


.mar-pad-zero {
    margin: 0;
    padding: 0;
}

.f-size-tvelve {
    font-size: 12px;
}
.f-size-ten {
    font-size: 10px;
}
.f-size-eight {
    font-size: 8px;
}
.fl-left {
    float: left;
}

.color-gray {
    color: #77858b;
}

.f-bold {
    font-weight: bold;
    color: #154468;
}

.select-size {
    font-size: 10px;
    height: 14px;
}

.buttonSearch {
    clear: both;
    float: right;
    background-color: rgba(1, 1, 1, 0);
    border: none;
    border-bottom: 2px solid #77858b; 
    margin: 0;
    padding: 0;
    width: 40px;
    height: 15px;
    font-size: 8px;
    font-family: sans-serif;
    font-style: italic;
    /* margin: 5px;
    margin-right: 15px; */
    position: absolute;
    bottom: 5px;
    right: 20px;
    color: #154467;
}

                                                            /* WRAPPER */

.wrapper {
    width: 900px;
}


                                                                /* ASIDE */
.sidebar {
    float: left;
    clear: both;
    overflow: hidden;
}

.brand {
    float: right;
}

.sidebar, .brand {
    width: 200px;
    position: relative;
}

.sidebar li, .brand li {
    float: left;
}

.sidebar li:hover img {
    /* margin-top: 8px; */
    background-position-y: 8px;
}

.brand li {
    float: left;
    list-style: square;
}

.sidebar .list img{
    width: 8px;
    height: 7px;
    margin: 2px;
}

.sidebar div, .brand div {
    clear: both;
    /* display: inline-block; */
    border: 1px solid #77858b; 
    border-radius: 15px;
    padding: 3px 4px;
    margin: 0;
    height: 25px;
    width: 180px;
}

.sidebar img, .brand img {
    width: 20px;
    height: 20px;
}

.sidebar a, .brand a {
    color: #465961;
    text-decoration: none;
}
/* 
.sidebar li:hover {
    color: #0c3256;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
} */

.sidebar a:hover, .brand a:hover {
    color: #0c3256;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.sidebar .list img {
    /* filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: .3s ease-in-out */
}
/* .sidebar img.list:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
} */
.sub-title-width {
    max-width: 150px;
}

.title-span-w {
    min-width: 150px;
}
/* .sidebar div img {

} */

.sidebar div span, .brand div span {
    padding: 6px 2px;
    width: 100px;
    display: inline-block;
    color: #114165;
    font-size: 12px;
    font-family: 'Lucida Sans Unicode', sans-serif;
}



.button-choose {
    background-color: #175173;
    color: #e5e9ea;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 25px;
    border-radius: 10px;
}


                                                                /* CONTENT */


.content {
    width: 460px;
    float: left;
    background: linear-gradient(to bottom,#e5e7e8, #93a7b0);
    /* background-color: #e3e6e7; */
    margin: 10px;
    padding: 5px;
    /* clear: both; */
}

.content div {
    /* display: inline-block; */
    text-align: center;
    float: left;
    margin: 6px;
    min-width: 130px;

}

.content div p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.tire-name {
    color: #206988;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 15px;
}

.tire-price {
    color: #114165;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}


                                                /* FOOTER */

.footer {
    clear: both;
}

.footer img {
    margin: 10px;
}

.footer-brand {
    margin: 10px 100px;
    /* display: inline;
    text-align: center; */
}

.footer-menu {
    width: 900px;
    height: 100px;
    margin: 5%;
    background-color: #213a4d;
}

.footer-menu ul li a {
    color: white;
}

.footer-menu p {
    clear: both;
    color: #7f4740;
}


