
$title-color : #edbfff;
$footer-color : #787878;
$font-family-content : Arial, sans-serif;
@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('fonts/helveticaneue-thin-webfont.eot');
    src: url('fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'League Gothic';
    src: url('webfonts/leaguegothic-regular-webfont.eot');
    src: url('webfonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('webfonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('webfonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}







.body {
    padding: 10px 720px;
    width: 960px;
    background-image: url(../img/960/bg.jpg);
    background-color: #704d7e;
    background-size: 2400px 945px;
    background-repeat: no-repeat;
    color: white;
    font-size: 18px;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    // background-position: 720px 0;
    // overflow: hidden;
}

.header {
    position: relative;
    margin: 0;
    padding: 0;
    
    // .header__img {
    //     position: absolute;
    //     left: 12px;
    //     top: 37px;
    // }
}
.logo {
    position: static;
    float: left;
    width: 160px;
    height: 50px;
    padding-top: 10px;
    font-size: 48px;
    font-weight: normal;
    background-image: url(../img/960/logo.png);
    background-repeat: no-repeat;
    background-position-x: 12px;
    .logo__er {
        color: #553c61;
        // margin: 70px 175px 0 720px;
        // span {
        // } 
    }       
}

.menu {
    overflow: hidden;
    height: 280px;
    width: 83%;
}
.navigation {
    padding: 40px 0px 0px 170px;
    float: left;
    clear: both;
    // position: absolute;
    // left: 1000px;
    // top: 60px;        
    
}
.navigation__item {
    float: left;
    list-style: none;
    margin: 10px 20px 10px 20px;
}
.navigation__link {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 24px;
}
.navigation__link:hover {
    border-bottom: 2px ridge $title-color;
}

.slide {
    height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    // background-position: -720px 0;
}
.slides {
    margin:  10% 1%;
    float: left;
    width: 53%;
    line-height: 55px;
    font-size: 50px;
    // padding-left: 720px;
}
   
.slides__h2 {
    font-weight: normal;
    margin: 0;
}
.slides__h4 {
    font-weight: normal;
    margin: 0;
    color: $title-color;
    font-size: 0.7em;
    line-height: 1.4em;
}
.slides__p {
    margin: 0;
    font-family: $font-family-content;
    font-weight: 100px;
    font-size: 0.5em;
    line-height: 1.1em;
}

.slide__img {
    float: left;
    width: 33%;
    height: 100%;
    margin: -15px 0px 0px 11%;
}

.blurbs {
    position: relative;
    margin-top: 155px;
    clear: both;
    height: 340px;
    width: 100%;
    overflow: hidden;
    background-color: #543b5f;
}

.blurbs_column {
    position: absolute;
    top: 15%;
    float: left;
    width: 26%;
    height: 27px;
    margin-right: 50px;
    background-image: url(../img/960/kmm.png);
    background-repeat: no-repeat;
    
}
.blurbs_column__h3, .blurbs_column__p {
    padding-left: 50px;   
}
.blurbs_column__h3 {
    left: 50px;
    margin-top: 0;
}
.blurbs_column__img {
    position: absolute;
    top: 20px;
}

.key {
    margin-left: 2%;
    background-position: 0 0;
}

.messege {
    margin-left: 35%;
    background-position: 0 -30px;
}

.melody {
    margin-left: 67%;
    background-position: 0 -60px;
}
.blurbs_column__a {
    margin-left: 180px;
    width: 55px;
    height: 15px;
    text-decoration: none;
    color: white;
}

.blurbs_column__a:hover {
    text-shadow:    2px 2px 3px rgba(255, 255, 255, 0.5), 
    2px -2px 3px rgba(255, 255, 255, 0.5), 
    -2px 2px 3px rgba(255, 255, 255, 0.5), 
                    -2px -2px 3px rgba(255, 255, 255, 0.5);
                }
                

                
                
                .content {
                    clear: both;
                    height: 555px;
                    width: 100%;
                    background-color: #f9f9f9;
                    position: relative;
                }
                .testimonials, .from-the-blog {
                    float: left;
    color: black;
    padding: 3%; 
    width: 44%;
}

.testimonials {
    background-image: url(../img/960/testimonials-bg.png);
    background-repeat: no-repeat;
    background-position: 51px 94px;
    background-size: 400px;
    height: 350px;
    // padding-left: 720px;
}
.testimonials__img {
    position: absolute;
    top: 110px;
}
.testimonials__h3 {
    margin: 80px 0 20px 80px;
    font-weight: normal;
    font-size: 30px;
} 
.testimonials__span {
    color: #edbfff;
    }
.testimonials__p {
    font-size: 16px;
    font-family: $font-family-content;
    margin-left: 80px;
    width: 340px;
}
    
    
    
    .from-the-blog {
        // min-width: 500px;
        padding: 9% 3% 1% 3%;
    }
    .from-the-blog__h3 {
        font-size: 30px;
        font-weight: normal;
        margin: 30px 0 20px 0;
    }
    .updates {
        padding: 0;
        margin: 0;
    }
    .from-the-blog__a {
        margin-left: 180px;
        width: 55px;
        height: 15px;
        text-decoration: none;
        color: black;
        .from-the-blog__span {
            font-size: 18px;
        }
    }
    .from-the-blog__a:hover {
        text-shadow:    2px 2px 3px rgba(150, 150, 150, 0.7), 
        2px -2px 3px rgba(150, 150, 150, 0.7), 
                    -2px 2px 3px rgba(150, 150, 150, 0.7), 
                    -2px -2px 3px rgba(150, 150, 150, 0.7);
                }
                .posted {
    position: relative;      
    list-style: none;
    margin: 20px 0;
    .posted__img {
        position: absolute;
        height: 38px;
    }
    .posted__h5, .posted__p {
        font-size: 16px;
        font-family: $font-family-content;
        padding-left: 60px;
        margin: 0;
    }
    
}
.investor {
    height: 120px;
    width: 100%;
    border-top: 2px solid  rgb(150, 150, 150);
    border-bottom: 2px solid  rgb(150, 150, 150);
    clear: both;
    
    
}
.investor__img {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
}
.investor__img_480 {
    display: none;
}
.footer {
    position: relative;
}
.information {
    background-color: #ececec;
    height: 400px;
}
.column {
    float: left;
    margin: 100px 3% 0 3%;
    width: 27%;
    height: 300px;
    color: black;
    font-size: 16px;
    h2 {
        font-size: 48px;
        margin: 0;
        span {
            color: $footer-color;
        }
    }
    h4 {
        margin: 10px;
        font-size: 30px;
    }
    h6 {
        margin: 10px;
        font-style: italic;
        color: #c5c5c5;
        font-weight: 100;
        font-family: $font-family-content;
    }
    p {
        font-family: $font-family-content;
        color: $footer-color;
    }
}
// .column_first {
    //     // margin-left: 720px;
    // }
    
    .menu_footer {
        clear: both;
        height: 110px;
        position: relative;
        width: 100%;
    }
.navigation_footer {
    background-image: url(../img/960/footer-bg.jpg);
    background-size: 2400px;
    background-position: -720px 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 110px;
    margin: 0;
    padding: 0;
    padding-top: 37px;
}
// .navigation__item_first {
    //     // margin-left: 720px;
    // }
    
    .footer__p {
        float: left;
        color: white;
        position: absolute;
        top: 30px;
        left: 74%;
    font-weight: normal;
    font-family: $font-family-content;
    span {
        font-weight: bolder;
    }
}



@media screen and (max-width: 960px) and (min-width: 768px) {
    .body {
        width: 100%;
        padding: 0;

    }
    .logo {
        margin: 70px 0 30px 20px;
    }
    .menu {
        // overflow: hidden;
        height: 50px;
        width: 100%;
        margin-bottom: 50px;
    }   
    .navigation {
        padding: 0;
        margin: 0;
    }
    .slide {
        height: 400px;
    }
    .slides {
        margin:  10% 1%;
        // float: left;
        width: 53%;
        line-height: 45px;
        font-size: 48px;
        // padding-left: 720px;
    }
    .blurbs_column__a {
        margin-left: 70%;
        // width: 55px;
        // height: 15px;
        // text-decoration: none;
        // color: white;
    }
    .testimonials__p {
        margin-left: 20%;
        width: 80%;
    }
    .content {
        height: 523px;
    }
    .menu {
        height: 114px;
        width: 100%;
        margin-bottom: 0px;
    }
    .navigation_footer {
        height: 130px;
        padding-top: 30px;
    }
    .footer__p {
        top: 80px;
        left: 74%;
        font-size: 0.6em;
        font-style: italic;
        font-weight: 600;
        background-size: contain;
    }


    }
    


    @media  screen and (max-width: 480px) and (min-width: 321px) {
        .body {
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .logo {
            float: none;
            // position: absolute;
            width: 30%;
            margin: 70px 35% 5px 35%;
        }
        .menu_480 {
            // position: absolute;
            // overflow: hidden;
            float: none;
            height: 175px;
            width: 52%;
            margin: 20px 24%;
            text-align: center;
            background-color: rgba(66, 53, 74, 0.7);
            border-radius: 10px;
            // margin-bottom: 50px;
        }   
        .navigation_480 {
            padding: 0;
            margin: 0;
            width: 100%;
        }
        .navigation__item_480 {
            float: none;
            border-top: 1px solid #523f5a;
            border-bottom: 1px solid #36283e;
            margin: 0;
        }
        .navigation__item_480:hover {
            background-color: rgba(44, 35, 50, 0.7);
        }
        .slide {
            position: absolute;
            top: 193px;
            height: 245px;
            z-index: -1;
        }
        .slides {
            margin: 10% 1%;
            width: 37%;
            line-height: 30px;
            font-size: 20px;
        }
        .slides__p {
            display: none;
        }
        .slide__img {
            // float: left;
            width: 48%;
            height: 125%;
            margin: -2% 0px 0px 11%;
        }
        .blurbs {
            height: max-content;
        }
        .blurbs_column {
            width: 86%;
            position: static;
        }
        .key, .messege, .melody {
            margin: 2% 2% 5%;
            margin-bottom: 40%;
        }
        .blurbs_column__p {
            font-size: 16px;
        }
        .blurbs_column__a {
            margin-left: 80%;
            // width: 55px;
            // height: 15px;
            // text-decoration: none;
            // color: white;
        }
        .testimonials__p {
            margin-left: 20%;
            width: 80%;
        }
        .content {
            height: min-content;
        }
        .testimonials {
            float: none;
            // color: black;
            padding: 3%;
            width: 90%;
        }
        .testimonials__img {
            // position: absolute;
            top: 120px;
            left: 7%;
        }
        .testimonials__h3 {
            margin: 115px 0 20px 80px;
            font-weight: normal;
            font-size: 30px;
        }
        .from-the-blog {
            float: none;
            // color: black;
            padding: 3%;
            width: 76%;
            margin: 0 10%;
        }
        .from-the-blog__a {
            margin-left: 70%;
        }
        .investor {
            height: max-content;
            width: 96%;
            padding: 2%;
        }
        .investor__img {
            display: none;
        }
        .investor__img_480 {
            display: block;
            width: 100%;
        }
        .footer {
            margin: 0;
            height: max-content;
        }
        .information {
            // background-color: #ececec;
            height: max-content;
        }
        .column {
            float: none;
            margin: 0px 3% 0 3%;
            width: 97%;
            height: max-content;
            // color: black;
            // font-size: 16px;
        }
        .menu_footer {
            height: 114px;
            width: 100%;
            margin-bottom: 0px;
        }
        .navigation_footer {
            height: 130px;
            padding-top: 30px;
        }
        .footer__p {
            top: 80px;
            left: 74%;
            font-size: 0.6em;
            font-style: italic;
            font-weight: 600;
            background-size: contain;
        }
    }
    



    @media (max-width: 320px) {

    }