.body {
    background-image: url('../img/bg.jpg');
    width: 1000px;
    height: 1310px;
    margin-left: auto;
    margin-right: auto;
}

ul li {
    float: left;
    list-style: none;
}



                                                    /* HEADER */

.header {
    width: 90%;
    margin: 0 5%;
}

.phone {
    display: block;
}

.phone ul > li {
    list-style: none;
    padding: 5px;
    margin: 16px 0 0;
    height: 26px;
}

.phone ul > li > p {
    font-size: 18px;
    color: #5e696d;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    float: left;
    background-color: #1b5b7c;
    width: 495px;
    height: 26px;
    border-radius: 3px;
    margin: 16px 0 0 0;
}

.man {
    float: left;
    padding: 3px 3px 3px 6px;
}

.input-text, .input-password {
    width: 113px;
    max-height: 16px;
    margin: 4px 2px;
    padding: 0;
    border: none;
}

.input-text::-webkit-input-placeholder, 
.input-password::-webkit-input-placeholder {
    color: #97a2a6;
    font-size: 11px;
    padding: 4px 4px 4px 4px;
    vertical-align: middle;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
}

.input-submit, .entrance {
    background-color: #1b5b7c;
    color: white;
    border: none;
}

.form span {
    color: white;
}

.form a:hover, .input-submit:hover, .entrance:hover  {
    color: #bfbfbf;
    text-decoration: underline;
}

.forgot {
    color: white;
    font-size: 12px;
    padding: 5px 2px 5px 10px;
    text-decoration: none;
}

                                                                        /* NAV */

.nav {
    float: left;
    border: 1px solid #bfbfbf;
    border-radius: 15px;
    padding: 1px 3px 1px 3px;
    margin: 16px 10px 5px 10px;
}

.nav a {
    padding: 5px;
}

.nav a:hover {
    background-color: #bfbfbf;
}

.image {
    clear: both;
    width: 100%;
    height: 235px;
}

                                            /* MENU */
.menu {
    display: block;
    height: 40px;
    width: 900px;
    background-color: #191b1e;
    border-radius: 10px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    float: left;
    padding: 6px 15px;
    margin: 4px;
    list-style: none;
    border-radius: 15px;
}

.menu ul .m:hover {
    background-color: #1d6081;
}

.menu ul li a {
    color: #bfbfbf;
    text-decoration: none;
}

.purse {
    padding: 6px 0;
}

.index {
    padding: 2px;
    margin: 8px 1px;
    color: #bfbfbf;
    font-family: sans-serif; 
    font-size: 14px;
}

.amount {
    padding: 0;
    margin: 9px 15px 12px 0;
    color: #1d6081;
    font-size: 16px; 
}

.money {
    margin: 5px 10px;
    color: #1d6081;
    font-size: 16px; 
}

                                                /* SEARCH CAR*/

.searchCar {
    width: 380px;
    position: relative;
}

.searchCar h5 {
    text-align: center;
    position: relative;
}

.searchCar ul li {
    float: none;
    clear: both;
    font-size: 8px;
    font-family: sans-serif;
}

.searchCar ul>li>select {
    display: inline-block;
    vertical-align: middle;
}

.carDisk, .carTire {
    width: 180px;
    float: left;
    margin: 3px;
}

.carDisk h6 {
    margin: 0;
    padding: 0;
    float: left;
}

.carDisk ul li, .carTire ul li, .disk ul li {
    margin: 5px;
    padding: 0;
    float: left;
}

.carDisk ul li label, .carTire ul li label, .disk ul li label {
    padding: 0;
    margin-left: 5px;
    display: inline-block;
    position: absolute;
}

.carDisk ul li select, .carTire ul li select, .disk select {
    margin-left: 80px;
}

.carTire h6 {
    float: right; 
}


                                                    /* SEARCH TIRES */

.searchTire {
    position: relative;
    width: 190px;
    padding: 5px 10px;
    margin: 10px 5px;
}

.searchTire h5 {
    text-align: left;
}

.searchTire ul>li {
    float: none;
}

.searchTire .razmer {
    margin:5px 5px 5px 4px;
}

.searchTire .radius {
    margin: 5px 5px 5px 34px;
}

.searchTire .season {
    margin: 5px 0 0 5px;
    position: relative;
}

.searchTire .checbox1 {
    margin: 2px 0 2px 7px;
}
.searchTire .checbox2 {
    margin: 2px 0 2px 37px;
}


                                                    /* SEARCH DISK */

.searchDisk.border {
    width: 200px;
    float: right;
    position: relative;
}

.searchDisk select {
    font-size: 8px;
    height: 10px;
}

.disk {
    width: 130px;
}

.searchDisk .dco {
    position: relative;
    overflow: hidden;
}
.dco {
    padding: 5px;
    width: 50px;
    border-left: 1px solid #77858b;
}


.border {
    border: 1px solid #77858b;
    border-radius: 20px;
    float: left;
    padding: 5px 10px;
    margin: 10px 10px;
    height: 135px;
    box-shadow: 4px 4px 8px rgba(120, 120, 120, 0.8)
} 
                                                           

.buttonSearch {
    clear: both;
    float: right;
    background-color: rgba(1, 1, 1, 0);
    border: none;
    border-bottom: 2px solid #77858b; 
    margin: 0;
    padding: 0;
    width: 40px;
    height: 15px;
    font-size: 8px;
    font-family: sans-serif;
    font-style: italic;
    position: absolute;
    bottom: 5px;
    right: 20px;
    color: #154467;
}

                                                            /* WRAPPER */

.wrapper {
    width: 90%;
    margin: 0 5%;
    position: relative;
    overflow: hidden;
}


                                                                /* ASIDE */
.sidebar {
    float: left;
    clear: both;
    overflow: hidden;
}


.sidebar, .brand {
    width: 22%;
    position: relative;
}


.sidebar li {
    float: left;
    padding: 10px 0 6px;
    margin: 0 0 0 45px;
    list-style-image: url(../img/circle.png);
}

.sidebar li:hover {
    list-style-image: url(../img/circleact.png);
}



.sidebar .list img{
    width: 8px;
    height: 7px;
    margin: 2px;
}

.sidebar div, .brand div {
    clear: both;
    border: 1px solid #77858b; 
    border-radius: 15px;
    padding: 3px 4px;
    margin: 0;
    height: 25px;
    width: 180px;
}

.sidebar div.title, .brand div.title  {
    margin: 2px 0 13px;
    box-shadow: 2px 2px 7px rgba(120, 120, 120, 0.8)
}

.sidebar img, .brand img {
    width: 20px;
    height: 20px;
}

.sidebar a {
    color: #465961;
    text-decoration: none;
}


.sidebar a:hover, .brand a:hover {
    color: #0c3256;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.sub-title-width {
    max-width: 150px;
}

.title-span-w {
    min-width: 150px;
}

.sidebar div span, .brand div span {
    padding: 6px 2px;
    width: 100px;
    display: inline-block;
    color: #114165;
    font-size: 12px;
}


                                                                /* CONTENT */

.content {
    max-width: 54%;
    float: left;
    background: linear-gradient(to bottom,#e5e7e8, #93a7b0);
    margin: 10px 0;
    padding: 0 5px 15px;
}

.content div {
    /* display: inline-block; */
    text-align: center;
    float: left;
    margin: 16px 11px;
    min-width: 130px;

}

.content div p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.tire-name {
    color: #206988;
    font-size: 15px;
}

.tire-price {
    color: #114165;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}


                                                /* BRAND */
.brand {
    float: right;
}

.brand li {
    float: left;
    min-width: 100px;
}

.brand li label {
    color: #465961;
    padding-left: 15px; 
}

.brand li label:hover {
    color: #0c3256;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.brand div.sub-title-margin {
    margin-left: 15px;
}

.button-choose {
    background-color: #175173;
    color: #e5e9ea;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 25px;
    border-radius: 13px;
    margin: 10px 40px;
}

.button-choose:hover {
    background-color:#2f9fe0; 
}



                                                /* FOOTER */

.footer {
    width: 90%;
    margin: 0 5%;
    clear: both;
}

.footer img {
    margin: 10px;
}

.footer-brand {
    margin: 10px 50px;
}

.footer-menu {
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 100px;
    margin: 0 5%;
    background-color: #213a4d;
}

.footer-menu .footer-ul li {
    margin: 10px 0;
}

.footer-menu ul li a {
    color: #bec6c9;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    text-decoration: none;
}

.footer-ul {
    width: 40%;
    margin: 0 30%;
}

.footer-menu span {
    color: #bec6c9;
}

.footer-menu a:hover {
    color: #52abcb;
}

.footer-menu p {
    clear: both;
    color: #7f4740;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


                                                                    /* COMMON */


 .mar-pad-zero {
    margin: 0;
    padding: 0;
}

.f-size-tvelve {
    font-size: 12px;
}

.f-size-eleven {
    font-size: 11px;
}

.f-size-ten {
    font-size: 10px;
}

.f-size-nine {
    font-size: 9px;
}

.f-size-eight {
    font-size: 8px;
}

.fl-left {
    float: left;
}

.color-gray {
    color: #77858b;
}

.f-bold {
    font-weight: bold;
    color: #154468;
}

.select-size {
    font-size: 10px;
    height: 14px;
}

.f-family-Lucida {
    font-family: 'Lucida Sans Unicode', Arial, sans-serif
}